.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(clamp(15rem, 30vw, 22rem), 1fr));
    gap: 2rem;
}

.box {
    display: inline-block;
	height: 25ch;
	position: relative;
	overflow: hidden;
	outline: 0;
	border: 0;
	background-color: #c1c1c1;
	background-image: linear-gradient(
		90deg,
		#ffffff00,
		#ffffff33,
		#ffffff80,
		#ffffff00
	);
	background-size: 200% 200%;
	animation: shimmer var(--animation-timing, 2s) ease-in-out
		infinite;
}